html, body
{
	background-color:black;
	height: 98%;
	width: 98%;
}


h3 {color:white;
	height: 15%;
	user-select: none;
	text-align: center;
}


#mySVGCanvas {
	border: 1px solid #00f;
	width: 600px;
	height: 400px;
	margin: auto;
	background-color: white;

}




