*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 1.2s ease-in ;
}
body, html{
  height: 100%;
  width: 100%;
}

html body
{
	padding: 10px;
	width: 90%;
	margin: 0 auto ;
	font-family: roboto,Arial, Helvetica, sans-serif;
}
h3 {
	background-color: #606099;
	color: #FFFFFF;
	text-indent:20px;
	font-family: roboto;
    width: 102%;
}
.h3weight{
	font-weight: 100;
}
}

#app{
	height: 100%;
	width: 90%;
}
#colorSpec
{

	width: 100%;
	height: 15%;
	margin: 1%;
}

#colorDisplay
{
	color: white;
    border: 5px solid #736767;
    height: 200px;
    border-radius:10px; 
}

#mySlider,#userColor{
	width: 100%;
}

